@import "variables";

#feature {

    background-color: #0b494f8a;
    border: solid 2px #0b494f;
    border-radius: 5px;

}

.robot-container{

    font-size: 12px;

    .robot-icon{
        img{
            width:100px;
        } 
    }
}